
.diary{
    width: clamp(300px,80%,1000px);
    /* width: 80%; */
    padding:25px;
    height: 80%;
    outline: none;
    z-index: 3;
    font-family: cursive;
    resize: none;
    /* background: linear-gradient(to right bottom,#D8D1C5,#ECE7E3,#F0EAE2); */
    background-color: beige;
    border-bottom-right-radius: 20px;
    /* box-shadow: 0 0 100px 250px white; */
    
}
.diarydate{
    border-top-left-radius: 20px;
   width: clamp(300px,80%,1000px);
    background-color: white;
    height: 7%;
    padding-left: 4%;
}

.diarycontainer{
    /* background:radial-gradient( white,rgba(255, 228, 196, 0.673),white); */
    /* background:whitesmoke; */
    background:linear-gradient(to right, #EADFCF, #e3d3bb);
    /* background-color: white; */

}
.diary::-webkit-scrollbar{
    width: 2px;
}
